<div class="card m-5">
    <div class="row no-gutters">
      <div class="col-xs-12 col-sm-5 col-md-6 col-lg-4 col-xl-4">
        <img src="{{hero.img}}" class="card-img-top mx-auto"  style="max-width:320px">
      </div>
      <div class="col-xs-12 col-sm-7 col-md-6 col-lg-8 col-xl-8">
        <div class="card-body">
          <h4 class="card-title">{{ hero.nombre }}</h4>
          <p class="card-text">{{ hero.bio }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item font-italic">{{ hero.aparicion }}</li>
            <li class="list-group-item text-{{ getBSClassFromCasa(hero) }} font-weight-bold">{{ hero.casa }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters p-3">
      <button (click)="back()" type="button" class="btn btn-danger btn-block">Regresar</button>
    </div>
</div>