
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

      <ol class="carousel-indicators">
        <li *ngFor="let villain of villains; let i=index; let isFirst = first"  [class.active]="isFirst" data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"></li>
      </ol>

      <div *ngFor="let villain of villains; let isFirst = first"  [class.active]="isFirst" class="carousel-item">
        <img class="d-block w-100" src="{{ villain.img }}">
        <div class="carousel-caption d-none d-md-block">
            <div class="row">
              <h4 class="">{{ villain.nombre }}</h4>
              <img class="rounded" src="{{ getLogoPath(villain) }}" style="max-width: 36px; max-height: 36px;">
            </div>
            <p class="lead text-justify">{{ villain.bio }}</p>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
