<div class="container-fluid">
    <div class="row ">

      <div *ngFor="let item of items; let i=index" class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex p-3 mx-auto">
          <div class="card mx-auto bg-dark text-white border-dark" style="background-image: url('{{item.img}}');">
              <div class="row no-gutters ">
                <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6">
                  <div class="card-body">
                    <h2 class="card-title">{{ item.nombre }}</h2>
                    <p class="card-text">{{ item.bio }}</p>
                    <ul class="list-group list-group-flush ">
                      <li class="list-group-item font-italic bg-transparent border-light">{{ item.aparicion }}</li>
                      <li class="list-group-item text-{{ getBSClassFromCasa(item) }} font-weight-bold bg-transparent">{{ item.casa }}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row no-gutters p-3 mt-auto bg-none">
                <div class="col-12">
                  <button (click)="viewDetail(item.id)" type="button" class="btn btn-primary btn-block">Ver mas</button>
                </div>
              </div>
          </div>
      </div>

    </div>
</div>